.container {
  padding: 16px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.item {
  width: calc((100% - 3 * 15px) / 4);
  height: 260px;
  box-sizing: border-box;
  overflow: hidden;
}
